.header{
    width: 100%;
    text-align: center;
    color:white;
    background-color: #788F58;
}

#central-title{
    font-size: 24px;
    padding-top: 18px;
}

#subtitle{
    padding-bottom: 18px;
}

#left-section{
    text-align: right;
}

#right-section{
    text-align: left;
}

.left-title{
    position: relative;
    font-weight: 700;
}

.right-title{
    position: relative;
    font-weight: 700;
}

.left-title::after{
    content:"";
    height: 3px;
    width: 5%;
    top:50%;
    left:120%;
    position: absolute;
    background: gray;
}

.left-title::before{
    content: "";
    position: absolute;
    background: #788F58;
    width: 12px;
    height: 12px;
    top:50%;
    right:-26.5%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.right-title::before{
    content:"";
    height: 3px;
    width: 5%;
    top:50%;
    left:-25%;
    position: absolute;
    background: gray;
}

.right-title::after{
    content: "";
    position: absolute;
    background: #788F58;
    width: 12px;
    height: 12px;
    top:50%;
    left:-26%;
    transform: translateY(-50%);
    border-radius: 20px;
}

#education{
    font-weight: 600;
}

#middle-section{
    position: relative;
}

#middle-section::after{
    content:"";
    position: absolute;
    width: 3px;
    height: 800px;
    left:50%;
    top:10px;
    background: gray;
    z-index: -1;
}


.animated-progress {
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    margin-bottom: 25px;
    margin-top: 5px;
    border: 0px;
    overflow: hidden;
    position: relative;
    padding-left: 0px !important;
  }

  .animated-progress span {
    height: 100%;
    display: block;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
    background-color: #788F58;
  }


  @media (max-width:990px){
    #middle-section{
        display:none;
    }

    .left-title::after{
        display: none;
    }

    .left-title::before{
        display: none;
    }

    .right-title::before{
        display: none;
    }

    .right-title::after{
        display: none;
    }

    #left-section{
        text-align: center;
    }

    #right-section{
        text-align: center;
    }
  }